@import url("https://fonts.googleapis.com/css2?family=Lato&family=Outfit&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
}

h1 {
  margin: 1rem;
}

.title {
  text-align: center;
}

.calculator {
  width: 300px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: bisque;
  margin: auto;
  border-radius: 20px;
}

.screen {
  font-size: 3rem;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background: rgb(255, 235, 235);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  /* justify-content: center; */
  padding: 1rem;
  align-items: center;
  /* margin: 1rem; */
}

p {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

p:hover {
  background-color: rgb(248, 94, 38);
  cursor: pointer;
}

.equal {
  grid-row-start: 8;
  grid-column-start: 2;
  grid-column-end: 4;
  border-bottom-right-radius: 20px;
  background-color: brown;
}

.clear {
  border-bottom-left-radius: 20px;
}
